<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>Test/Unit/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./</directory>
        </include>
    </source>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
        </whitelist>
        <exclude>
            <directory>./Test/</directory>
            <directory>./vendor/</directory>
        </exclude>
    </filter>

    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./Test/</directory>
            <directory>./vendor/</directory>
            <directory>./.github/</directory>
        </exclude>
    </coverage>
</phpunit>
